{% extends 'admin/change_form.html' %}
{% block after_field_sets %}

<script type="text/javascript">
	//used in both Pizzas and Subs admin pages
	addEventListener('DOMContentLoaded', ()=>{
		var toppingOption = document.querySelector('#id_toppingOption');
		var maxToppingsDiv = document.querySelector('#id_maxToppings').parentElement;
		var toppingsDiv = document.querySelector('.form-row.field-preselectedToppings');
		var maxToppingsInput = document.querySelector('#id_maxToppings');
		var toppingsSelect = document.querySelector('.form-row.field-preselectedToppings').getElementsByTagName('select')[0];


		setFieldsVisibility();

		toppingOption.addEventListener('change', ()=>{
			setFieldsVisibility();
		});


		function setFieldsVisibility(){
			//('0','No toppings'), ('1','Pre-selected'), ('2','No more than..'), ('3','Select from all'), ('4', 'Additions')
			var selectedOption = toppingOption.options[toppingOption.selectedIndex].value;
			if (selectedOption == 0 || selectedOption == 3){
				toppingsDiv.style.display = "none";
				maxToppingsDiv.style.display = "none";
				maxToppingsInput.value = null;
				toppingsSelect.value = null;
			};
			if (selectedOption == 1 || selectedOption == 4){
				toppingsDiv.style.display = "block";
				maxToppingsDiv.style.display = "none";
				maxToppingsInput.value = null;
			};
			if (selectedOption == 2){
				toppingsDiv.style.display = "none";
				maxToppingsDiv.style.display = "block";
				maxToppingsInput.value = 1;
				toppingsSelect.value = null;
			};
		}
	});
</script>
{{ block.super }}
{% endblock after_field_sets %}