{% extends "orders/base.html" %}
{% load crispy_forms_tags %}
{% block body %}
{% load custom-tags %}

{% for pizza in pizzas %}
<h2>This is it #78 {{ pizza|get_by_id:4}}</h2>
	<ul>
		<li>{{ pizza.name }}: {{ pizza.toppingOption }}-{{ pizza.get_toppingOption_display }}</li>
		{% if pizza.preselectedToppings %}
			<ul>
				{% for topping in pizza.preselectedToppings.all %}
				<li>{{ topping }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% if pizza.maxToppings %}
			Max.Toppings: {{ pizza.maxToppings }}
		{% endif %}
	</ul>
{% endfor %}

{% if pizzas %}
	{% for pizzaType in pizzaTypes %}
		<h1>Pizza {{ pizzaType.type }}</h1>
		<table class="table">
			<th>Name</th>
			<th>Size</th>
			<th>Price</th>
			<th></th>
			{% for pizza in pizzas %}
				{% ifequal pizza.type.type pizzaType.type %}
					<tr>
						<td>{{ pizza.name|hello}}</td>
						<td>{{ pizza.get_size_display }}</td>
						<td>{{ pizza.price }}</td>
						<td><button type="button" class="add-item-btn btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" data-id="{{ pizza.id }}">Add</button></td>
					</tr>
				{% endifequal %}
			{% endfor %}
		</table>
	{% endfor %}
{% endif %}

	{% if subs %}
	<h1>Subs</h1>
	<table class="table">
		<th>Name</th>
		<th>Size</th>
		<th>Price</th>
		<th></th>
		{% for sub in subs %}
			<tr>
				<td>{{ sub.name }}</td>
				<td>{{ sub.get_size_display }}</td>
				<td>{{ sub.price }}</td>
				<td><button type="button" class="add-item-btn btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" data-id="{{ sub.id }}">Add</button></td>
			</tr>
			<!--
			{% if sub.toppings %}
				{% for topping in sub.toppings.all %}
					<tr>
						<td>++ {{ topping.name }}</td>
						<td></td>
						<td> {{ topping.price }}</td>
					</tr>
				{% endfor %}
			{% endif %}
			-->
		{% endfor %}
	</table>
	{% endif %}

{% if dinnerPlatters %}
		<h1>Dinner Platters</h1>
		<table class="table">
			<th>Name</th>
			<th>Size</th>
			<th>Price</th>
			<th></th>
			{% for dinnerPlatter in dinnerPlatters %}
				<tr>
					<td>{{ dinnerPlatter.name }}</td>
					<td>{{ dinnerPlatter.get_size_display }}</td>
					<td>{{ dinnerPlatter.price }}</td>
					<td><button type="button" class="add-item-btn btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" data-id="{{ dinnerPlatter.id }}">Add</button></td>
				</tr>
			{% endfor %}
		</table>
{% endif %}

{% if pastas %}
		<h1>Pasta</h1>
		<table class="table">
			<th>Name</th>
			<th>Price</th>
			<th></th>
			{% for pasta in pastas %}
				<tr>
					<td>{{ pasta.name }}</td>
					<td>{{ pasta.price }}</td>
					<td><button type="button" class="add-item-btn btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" data-id="{{ pasta.id }}">Add</button></td>
				</tr>
			{% endfor %}
		</table>
{% endif %}

{% if salads %}
		<h1>Salads</h1>
		<table class="table">
			<th>Name</th>
			<th>Price</th>
			<th></th>
			{% for salad in salads %}
				<tr>
					<td>{{ salad.name }}</td>
					<td>{{ salad.price }}</td>
					<td><button type="button" class="add-item-btn btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" data-id="{{ salad.id }}">Add</button></td>
				</tr>
			{% endfor %}
		</table>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add to Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        <form id="modal-options-form">
        </form>
        <div id="item-details">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="add-item-btn btn btn-primary" type="submit">Add to Cart</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	
	document.addEventListener('DOMContentLoaded', ()=>{
		var addItemBtn = document.getElementsByClassName('add-item-btn');
		var addItemBody = document.querySelector('#modal-body');
		var addItemForm = document.querySelector('#modal-options-form');
		var addItemTitle = document.querySelector('#exampleModalLongTitle');
		var addItemDetails = document.querySelector('#item-details');
		
		//get all possible toppings/additions
		var allToppings = [];
		{% for topping in toppings %}
			allToppings.push("{{topping}}");
		{% endfor %}

		//Listener for clicking the Add button
		for (var i = 0 ; i < addItemBtn.length; i++) {
	   		addItemBtn[i].addEventListener('click' , ()=>{
	   		//TODO how to get the topping Option value for an item since it could be different models using it
			showItemAddOptions(3);
			addItemTitle.innerHTML = `Add to Cart ${event.target.dataset.id}`;
			});
		}

		function loadToppings(){
			for (var i = 0; i < allToppings.length; i++){
				var label = document.createElement("label");

				var topping = document.createElement('input');
				topping.setAttribute('type', 'checkbox');
				topping.value = allToppings[i];
				label.appendChild(topping)

				var text = document.createTextNode(allToppings[i]);
				label.appendChild(text);

				addItemForm.appendChild(label);

				var br = document.createElement('br');
				addItemForm.appendChild(br);

			}
		};

		function showItemAddOptions(toppingOption){
			addItemForm.innerHTML = "";

			//('0','No toppings')- no toppings can be chosen for that item
			//('1','Pre-selected')- the toppings are fixed and cannot be changed by user
			if (toppingOption == 1){
				//get the selected toppings, check them and disable all
			}
			//('2','No more than..')- the user can select from all toppings up to a maximum
			if (toppingOption == 2){
				//get the maxToppings value
			}
			//('3','Select from all')- the user can select from all toppings without limitations
			if (toppingOption == 3){
				loadToppings();
			}
			//('4','Additions')- any selected topping costs extra
			if (toppingOption == 4){
				//get the selected toppings
			}
			
		};
		/* 
		//identify the item clicked
		//show the item data in the modal
		- name, size, price (to get them from the page or from request?)
		- and toppings or additions (add additional price when it is an addition)
		*/
	});
</script>

{% endblock body %}